@import 'normalize.css';
@import 'react-date-picker/index.css';// 'datepicker.css';
//@import 'react-dates/lib/css/_datepicker.css';

.example {
  font-size: 36px;
  width: 300px;
  margin: 10px auto;
}


